section#messages{
    width: 70%;
    @media(max-width: 768px){
        width: 90%;
    }
    margin: auto;
    padding-top: 10vh;
    header{
        h1{
            font-size: 35px;
        }
    }
    .item{
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-bottom: 15px;

        img{
            border-radius: 6px;
            width:50px;
            height: 50px;
        }
        h1{
            margin-left: 10px;
        }

        p{
            color: #666;
            margin-top: 10px;
        }
    }
    
}