section#profile{
    width: 70%;
    @media(max-width: 768px){
        width: 90%;
    }
    margin: auto;
    main{
        .box{
            border: 1px solid #ddd;
            padding: 10px;

            .grid{
                display: grid;
                grid-template-columns: repeat(3, minmax(100px, 1fr));
                grid-gap: 10px;

                @media(max-width: 399px){
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

                }
                .item{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .intro{
        .left{
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        .right{
            margin-left: 15px;
            h3{
                font-size: 25px;
            }
            p{
                font-size: 18px;
                margin-left: 30px;
                margin-top: 7px;
                color: #666;
            }
        }

        .desc{
            p{
                font-size: 18px;
                font-weight: 700;
                color: #707070;
                margin-bottom: 5px;
                span{
                    font-weight: 500;
                    color: #707070;
                    font-size: 16px;
                }
            }
        }
    }
}


input[type="text"],#fname #email,#gender,#password, #address, #phone,#type {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .container-form h1 {
    padding-bottom: 20px;
    font-size: 40px;
    color: #333333;
  }
  
  .container-form {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    max-width: 450px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }